<h1>Formulario de carga y eliminación de productos</h1>
<form id="productForm">
    <p>Ingresar los datos del producto:</p>
    <div>
        <label for="title">Titulo/nombre del producto:</label>
        <input type="text" id="title" />
    </div>
    <div>
        <label for="description">Descripción:</label>
        <input type="text" id="description" />
    </div>
    <div>
        <label for="price">Precio:</label>
        <input type="number" id="price" />
    </div>
    <div>
        <label for="code">Código de producto:</label>
        <input type="text" id="code" />
    </div>
    <div>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" />
    </div>
    <div>
        <label for="category">Categoría:</label>
        <input type="text" id="category" />
    </div>
    <div>
        <label for="thumbnail">Thumbnails:</label>
        <input type="text" id="thumbnail" />
    </div>
    <div>
        <button type="submit" id="addProduct">Agregar</button>
        <button type="submit" id="deleteProduct">Eliminar</button>
        <button type="reset">Resetear campos</button>
    </div>
</form>
<span id="error"></span>
<h2>Lista de productos en tiempo real:</h2>
<div id="realTimeProducts">
    {{#each products}}
        <div id="productsFromServer"></div>
    {{/each}}
</div>