<nav class="navbar">
	<div class="navbar-brand">
		<a href="/" class="navbar-item">
			<h1 class="title">Natufriend</h1>
		</a>
	</div>

	<div class="container container-user-actions">
		<span>
			Bienvenidx
			<b>{{user.name}}</b>
			({{user.role}})
		</span>
		<a href="/api/session/logout"><button class="btn btn-danger">Logout</button></a>
	</div>
</nav>
